#pageContent {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 5em;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
}

#professorInfo {
  display: flex;
  /* display: block; */
  /* align-items: center; */
  flex-direction: row;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  padding: 2em;
  border-radius: 10px;
  background-image: url("../img/professorDefaultBanner.jpeg");
  color: white;
  text-shadow:
    1px 1px 50px #000,
    /* 1px 1px 50px #000, */
    /* 1px 1px 10px #000, */
    1px 1px 10px #000;
}

#starRating {
  display: flex;
  flex-direction: row;
}

#professorAvatar {
  /* width: 10em; */
  height: 12em;
  margin-left: auto;
  float: right;
  border-radius: 15px;
  /* width: 100%; */
}

#overallRatingCard {
  padding-top: 2em;
  padding-bottom: 2em;
}

#commentCard {
  margin-left: 5em;
}

#coursePostPinned {
  margin-bottom: 2em;
}

#comments {
  margin-right: 0px;
  width: 100%;
}

#posts {
  width: 200%;
}

#newPost {
  border: none;
  background-color: #ffffff;
  color: #000E54;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

#searchPost {
  border: none;
  background-color: #ffffff;
  color: #000E54;
  float: right;
}

#postInteraction{
  display: flex;
  flex-direction: row;
  background-color: white;
  padding-bottom: 0;
  width: 100%;
}

.userPosts {
  color: #000000;
}

/* .userPosts:hover {
  color: #F76900;
  text-decoration: none;
} */

#searchBox {
  display: flex;
  flex-direction: row;
  width:20em;
  margin-right:20em;
  height: 3em;
  flex-grow: 8;
}

#searchInput {
  padding-right: 1em;
  color: #000E54;
}
